// === VARIABLES ===

// colors
$color-font: rgb(35, 35, 35);
$color-main: rgb(231, 231, 231);
$color-bg: darken(
  $color: $color-main,
  $amount: 6,
);
$color-accent: rgb(223, 223, 223);
$color-accent-blue: rgb(0, 35, 230);

// === MIXINS ===

// fonts
@mixin font-inter {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}

// flex
@mixin flex-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-center-column {
  @include flex-center();
  flex-direction: column;
}

@mixin flex-center-row {
  @include flex-center();
  flex-direction: row;
}

// clear link styles
@mixin links {
  text-decoration: none;
  color: $color-font;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: $color-accent-blue;
    transform-origin: bottom left;
    transition: transform 0.5s ease-out;
  }

  &:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

// === STYLES ===

// html
html {
  scroll-behavior: smooth;
}

// body
* {
  @include font-inter();
  color: $color-font;
}

body {
  background: $color-main;
}

.wrapper {
  @include flex-center-column();
  margin: 0 auto;
}

// section
section {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

// headings
h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-inter();
  font-weight: 600;
}

// container
.container {
  width: 60%;
  margin: 0 auto;

  @media screen and (max-width: 1024px) {
    width: 80%;
  }
}

.row {
  width: 100%;
}

h3,
h4 {
  @media screen and (max-width: 768px) {
    font-size: 1.8rem !important;
  }
}

// titles
.title {
  font-size: 4rem;
  margin-top: 8rem;

  @media screen and (max-width: 998px) {
    font-size: 3rem;
    margin-top: 4rem;
  }
}

// header
.header {
  position: fixed;
  left: 0;
  width: 100%;
  background-color: $color-main;
  z-index: 100;

  @media screen and (max-width: 998px) {
    position: fixed;
    height: 4rem;
  }

  &__nav {
    @media screen and (max-width: 998px) {
      position: fixed;
      height: 100vh;
      background-color: $color-bg;
      margin: 0 auto;
      top: 0;
      left: 0;
      width: 100%;
      transform: translateX(-100%);
      transition: 0.3s all;

      &.active {
        transform: translateX(0);
      }
    }
  }

  &__burger {
    display: none;

    @media screen and (max-width: 998px) {
      display: block;
      position: fixed;
      width: 30px;
      height: 20px;
      z-index: 999;
      right: 1.35rem;
      top: 1.35rem;
    }

    > span {
      @media screen and (max-width: 998px) {
        position: absolute;
        background-color: $color-accent-blue;
        right: 0;
        width: 30px;
        height: 4px;
        top: 8px;
        -webkit-transition: 0.3s all;
        transition: 0.3s all;
      }
    }

    &::before,
    &::after {
      content: "";
      background-color: $color-accent-blue;
      position: absolute;
      width: 30px;
      height: 4px;
      right: 0;
      transition: 0.3s all;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    &.active::before {
      transform: rotate(45deg);
      top: 8px;
    }

    &.active::after {
      transform: rotate(-45deg);
      bottom: 8px;
    }

    &.active span {
      transform: scale(0);
    }
  }
}

// list
.list {
  @include flex-center-row();
  justify-content: center;
  font-weight: 600;
  padding: 0;

  @media screen and (max-width: 998px) {
    flex-direction: column;
    height: 100%;
  }

  &__item {
    list-style-type: none;
    margin: 0 1rem;

    @media screen and (max-width: 998px) {
      margin: 1rem 0;
    }
  }

  &__link {
    @include links();
    position: relative;
    font-size: 1.2rem;

    @media screen and (max-width: 998px) {
      font-size: 1.4rem;
    }
  }
}

// main

// about
.about {
  min-height: 100vh;
  text-align: center;

  &__img {
    border-radius: 50%;
    width: 30%;
    margin-top: 8rem;

    @media screen and (max-width: 768px) {
      width: 50%;
    }
  }

  &__title {
    @include font-inter();
    font-weight: 600;
    font-size: 5rem;
    margin: 0;
    margin-top: 4rem;

    @media screen and (max-width: 1440px) {
      font-size: 3.5rem;
    }

    @media screen and (max-width: 425px) {
      font-size: 2.5rem;
    }
  }

  &__info {
    font-size: 1.2rem;
  }

  &__desc {
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: left;

    @media screen and (max-width: 998px) {
      margin-top: 4rem;
      font-size: 2.2rem;
      line-height: 2.7rem;
    }

    @media screen and (max-width: 768px) {
      font-size: 1.8rem;
      line-height: 2.2rem;
    }

    @media screen and (max-width: 425px) {
      font-size: 1.2rem;
      line-height: 1.6rem;
    }
  }
}

// skills
.skills {
  &__wrapper {
    width: 100%;
    height: auto;
  }

  &__list {
    list-style-type: none;
    padding: 0;
    font-size: 2rem;
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: 425px) {
      font-size: 1.2rem;
    }
  }

  &__item {
    margin: 1.5rem 0;
    width: 33.33%;

    @media screen and (max-width: 730px) {
      width: 50%;
    }
  }
}

// projects
// work
.work {
  width: 100%;
  height: auto;
  position: relative;
  border-radius: 0.5rem;
  margin: 3rem 0;

  &__img {
    width: 100%;
    height: 100%;
    filter: blur(1rem);
    border-radius: 0.5rem;
    transition: 0.5s all ease-in-out;

    &:hover {
      filter: blur(0rem);
    }

    @media screen and (max-width: 998px) {
      filter: blur(0rem);
    }

    @media screen and (max-width: 998px) {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &__info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba($color-accent, 0.8);
    width: 30rem;
    padding: 2rem;

    @media screen and (max-width: 998px) {
      box-sizing: border-box;
      width: 100%;
      transform: translateX(-50%);
      bottom: 0.2rem;
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    }

    @media screen and (max-width: 998px) {
      position: static;
      transform: translate(0);
      margin-top: -0.2rem;
      background: $color-accent;
    }
  }

  &__link {
    font-size: 2rem;
    position: relative;
    @include links();
    font-weight: 600;
  }

  &__description {
    font-size: 1.5rem;
    margin: 0;
    margin-top: 1rem;

    @media screen and (max-width: 998px) {
      font-size: 1.4rem;
    }

    @media screen and (max-width: 920px) {
      font-size: 1.3rem;
    }

    @media screen and (max-width: 425px) {
      font-size: 1.2rem;
    }
  }
}

// experience
.experience {
  &__job {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 0;
    margin-bottom: 2rem;

    &_courses {
      margin-top: 4rem;
    }
  }

  &__desc {
    font-size: 1.2rem;

    @media screen and (max-width: 1440px) {
      font-size: 1.4rem;
    }
  }
}

// courses
.courses {
  &__list {
    list-style-type: none;
    padding: 0;
  }

  &__item {
    font-size: 1.2rem;
    margin: 1rem 0rem;

    @media screen and (max-width: 1440px) {
      font-size: 1.4rem;
    }

    @media screen and (max-width: 425px) {
      font-size: 1.2rem;
    }
  }
}

// education
.education {
  &__wrapper {
    margin: 3rem 0;

    @include flex-center-column();
    align-items: flex-start;
  }

  &__university {
    font-size: 2rem;
    margin: 0;
  }

  &__specialty {
    padding: 0;
    margin: 0;
    margin-top: 0.8rem;
    font-size: 1.2rem;

    @media screen and (max-width: 998px) {
      margin-top: 0;
      font-size: 1.4rem;
    }

    @media screen and (max-width: 425px) {
      font-size: 1.2rem;
    }
  }
}

// languages
.languages {
  &__lang {
    font-size: 2rem;
    margin-bottom: 0;
  }

  &__level {
    @media screen and (max-width: 998px) {
      font-size: 1.4rem;
    }

    @media screen and (max-width: 425px) {
      font-size: 1.2rem;
    }
  }
}

// contacts
.contacts {
  &__list {
    list-style-type: none;
    padding: 0;
    font-size: 2rem;

    @media screen and (max-width: 998px) {
      font-size: 1.5rem;
    }

    @media screen and (max-width: 425px) {
      font-size: 1.2rem;
    }
  }

  &__img {
    width: 2rem;
    height: 2rem;
  }

  &__item {
    margin: 2rem 0;
    @include flex-center-row();
    justify-content: flex-start;
  }

  &__link {
    @include links();
    position: relative;
    margin-left: 2rem;
  }
}

// footer
.footer {
  min-height: 25rem;
  position: relative;

  &__wrapper {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include flex-center-row();
    display: flex;

    @media screen and (max-width: 600px) {
      flex-direction: column;
    }
  }

  &__item {
    font-size: 3rem;
    padding: 8rem;

    @media screen and (max-width: 998px) {
      padding: 2rem;
    }
  }

  &__img {
    width: 10rem;

    &_gh {
      width: 5rem;
    }
  }
}

code,
kbd,
samp {
  @media screen and (max-width: 425px) {
    font-family: monospace, monospace;
    font-size: 0.7rem;
  }
}
