// === VARIABLES ===

// colors
$color-font: rgb(35, 35, 35);
$color-main: rgb(231, 231, 231);
$color-bg: darken(
  $color: $color-main,
  $amount: 6,
);
$color-accent: rgb(223, 223, 223);
$color-accent-blue: rgb(0, 35, 230);

// === MIXINS ===

// fonts
@mixin font-inter {
  font-family: "Inter", sans-serif;
}

// flex
@mixin flex-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-center-column {
  @include flex-center();
  flex-direction: column;
}

@mixin flex-center-row {
  @include flex-center();
  flex-direction: row;
}

// clear link styles
@mixin links {
  text-decoration: none;
  color: $color-font;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: $color-accent-blue;
    transform-origin: bottom left;
    transition: transform 0.5s ease-out;
  }

  &:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

// === STYLES ===

// body
body {
  @include font-inter();
  color: $color-font;
  background: $color-main;
}

.wrapper {
  @include flex-center-column();
  margin: 0 auto;
}

// section
section {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

// headings
h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-inter();
}

// container
.container {
  padding: 0 20%;
}

.container,
.row {
  width: 100%;
}

// titles
.title {
  font-size: 4rem;
}

// header
.header {
  position: fixed;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 100;
}

// list
.list {
  @include flex-center-row();
  justify-content: center;
  font-weight: 500;
  padding: 0;

  &__item {
    list-style-type: none;
    margin: 0 1rem;
  }

  &__link {
    @include links();
    position: relative;
    font-size: 1.2rem;
  }
}

// main

// about
.about {
  min-height: 100vh;
  text-align: center;

  &__img {
    border-radius: 50%;
    width: 20rem;
    margin-top: 8rem;
  }

  &__title {
    @include font-inter();
    font-weight: 700;
    font-size: 5rem;
    margin: 0;
    margin-top: 4rem;
  }

  &__info {
    font-size: 1.2rem;
  }

  &__desc {
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: left;
  }
}

// skills
.skills {
  &__wrapper {
    width: 100%;
    height: auto;
  }

  &__list {
    list-style-type: none;
    padding: 0;
    font-size: 2rem;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin: 1.5rem 0;
    width: 33.33%;
  }
}

// projects
// work
.work {
  width: 100%;
  height: auto;
  position: relative;
  border-radius: 0.5rem;
  margin: 3rem 0;

  &__img {
    width: 100%;
    height: 100%;
    filter: blur(1rem);
    border-radius: 0.5rem;
    transition: 0.5s all ease-in-out;

    &:hover {
      filter: blur(0rem);
    }
  }

  &__info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba($color-accent, 0.8);
    width: 30rem;
    padding: 2rem;
  }

  &__link {
    font-size: 2rem;
    position: relative;
    @include links();
    font-weight: 700;
  }

  &__description {
    font-size: 1.5rem;
    margin: 0;
    margin-top: 1rem;
  }
}

// experience
.experience {
  &__job {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: 2rem;

    &_courses {
      margin-top: 4rem;
    }
  }

  &__desc {
    font-size: 1.2rem;
  }
}

// courses
.courses {
  &__list {
    list-style-type: none;
    padding: 0;
  }

  &__item {
    font-size: 1.2rem;
    margin: 1rem 0rem;
  }
}
