html {
  scroll-behavior: smooth;
}

* {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(35, 35, 35);
}

body {
  background: rgb(231, 231, 231);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

section {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 600;
}

.container {
  width: 60%;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .container {
    width: 80%;
  }
}

.row {
  width: 100%;
}

@media screen and (max-width: 768px) {
  h3,
  h4 {
    font-size: 1.8rem !important;
  }
}

.title {
  font-size: 4rem;
  margin-top: 8rem;
}
@media screen and (max-width: 998px) {
  .title {
    font-size: 3rem;
    margin-top: 4rem;
  }
}

.header {
  position: fixed;
  left: 0;
  width: 100%;
  background-color: rgb(231, 231, 231);
  z-index: 100;
}
@media screen and (max-width: 998px) {
  .header {
    position: fixed;
    height: 4rem;
  }
}
@media screen and (max-width: 998px) {
  .header__nav {
    position: fixed;
    height: 100vh;
    background-color: #d8d8d8;
    margin: 0 auto;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateX(-100%);
    transition: 0.3s all;
  }
  .header__nav.active {
    transform: translateX(0);
  }
}
.header__burger {
  display: none;
}
@media screen and (max-width: 998px) {
  .header__burger {
    display: block;
    position: fixed;
    width: 30px;
    height: 20px;
    z-index: 999;
    right: 1.35rem;
    top: 1.35rem;
  }
}
@media screen and (max-width: 998px) {
  .header__burger > span {
    position: absolute;
    background-color: rgb(0, 35, 230);
    right: 0;
    width: 30px;
    height: 4px;
    top: 8px;
    transition: 0.3s all;
  }
}
.header__burger::before, .header__burger::after {
  content: "";
  background-color: rgb(0, 35, 230);
  position: absolute;
  width: 30px;
  height: 4px;
  right: 0;
  transition: 0.3s all;
}
.header__burger::before {
  top: 0;
}
.header__burger::after {
  bottom: 0;
}
.header__burger.active::before {
  transform: rotate(45deg);
  top: 8px;
}
.header__burger.active::after {
  transform: rotate(-45deg);
  bottom: 8px;
}
.header__burger.active span {
  transform: scale(0);
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  font-weight: 600;
  padding: 0;
}
@media screen and (max-width: 998px) {
  .list {
    flex-direction: column;
    height: 100%;
  }
}
.list__item {
  list-style-type: none;
  margin: 0 1rem;
}
@media screen and (max-width: 998px) {
  .list__item {
    margin: 1rem 0;
  }
}
.list__link {
  text-decoration: none;
  color: rgb(35, 35, 35);
  position: relative;
  font-size: 1.2rem;
}
.list__link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: rgb(0, 35, 230);
  transform-origin: bottom left;
  transition: transform 0.5s ease-out;
}
.list__link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
@media screen and (max-width: 998px) {
  .list__link {
    font-size: 1.4rem;
  }
}

.about {
  min-height: 100vh;
  text-align: center;
}
.about__img {
  border-radius: 50%;
  width: 30%;
  margin-top: 8rem;
}
@media screen and (max-width: 768px) {
  .about__img {
    width: 50%;
  }
}
.about__title {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 600;
  font-size: 5rem;
  margin: 0;
  margin-top: 4rem;
}
@media screen and (max-width: 1440px) {
  .about__title {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 425px) {
  .about__title {
    font-size: 2.5rem;
  }
}
.about__info {
  font-size: 1.2rem;
}
.about__desc {
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-align: left;
}
@media screen and (max-width: 998px) {
  .about__desc {
    margin-top: 4rem;
    font-size: 2.2rem;
    line-height: 2.7rem;
  }
}
@media screen and (max-width: 768px) {
  .about__desc {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }
}
@media screen and (max-width: 425px) {
  .about__desc {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
}

.skills__wrapper {
  width: 100%;
  height: auto;
}
.skills__list {
  list-style-type: none;
  padding: 0;
  font-size: 2rem;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 425px) {
  .skills__list {
    font-size: 1.2rem;
  }
}
.skills__item {
  margin: 1.5rem 0;
  width: 33.33%;
}
@media screen and (max-width: 730px) {
  .skills__item {
    width: 50%;
  }
}

.work {
  width: 100%;
  height: auto;
  position: relative;
  border-radius: 0.5rem;
  margin: 3rem 0;
}
.work__img {
  width: 100%;
  height: 100%;
  filter: blur(1rem);
  border-radius: 0.5rem;
  transition: 0.5s all ease-in-out;
}
.work__img:hover {
  filter: blur(0rem);
}
@media screen and (max-width: 998px) {
  .work__img {
    filter: blur(0rem);
  }
}
@media screen and (max-width: 998px) {
  .work__img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
.work__info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(223, 223, 223, 0.8);
  width: 30rem;
  padding: 2rem;
}
@media screen and (max-width: 998px) {
  .work__info {
    box-sizing: border-box;
    width: 100%;
    transform: translateX(-50%);
    bottom: 0.2rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
}
@media screen and (max-width: 998px) {
  .work__info {
    position: static;
    transform: translate(0);
    margin-top: -0.2rem;
    background: rgb(223, 223, 223);
  }
}
.work__link {
  font-size: 2rem;
  position: relative;
  text-decoration: none;
  color: rgb(35, 35, 35);
  font-weight: 600;
}
.work__link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: rgb(0, 35, 230);
  transform-origin: bottom left;
  transition: transform 0.5s ease-out;
}
.work__link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.work__description {
  font-size: 1.5rem;
  margin: 0;
  margin-top: 1rem;
}
@media screen and (max-width: 998px) {
  .work__description {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 920px) {
  .work__description {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 425px) {
  .work__description {
    font-size: 1.2rem;
  }
}

.experience__job {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0;
  margin-bottom: 2rem;
}
.experience__job_courses {
  margin-top: 4rem;
}
.experience__desc {
  font-size: 1.2rem;
}
@media screen and (max-width: 1440px) {
  .experience__desc {
    font-size: 1.4rem;
  }
}

.courses__list {
  list-style-type: none;
  padding: 0;
}
.courses__item {
  font-size: 1.2rem;
  margin: 1rem 0rem;
}
@media screen and (max-width: 1440px) {
  .courses__item {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 425px) {
  .courses__item {
    font-size: 1.2rem;
  }
}

.education__wrapper {
  margin: 3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
}
.education__university {
  font-size: 2rem;
  margin: 0;
}
.education__specialty {
  padding: 0;
  margin: 0;
  margin-top: 0.8rem;
  font-size: 1.2rem;
}
@media screen and (max-width: 998px) {
  .education__specialty {
    margin-top: 0;
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 425px) {
  .education__specialty {
    font-size: 1.2rem;
  }
}

.languages__lang {
  font-size: 2rem;
  margin-bottom: 0;
}
@media screen and (max-width: 998px) {
  .languages__level {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 425px) {
  .languages__level {
    font-size: 1.2rem;
  }
}

.contacts__list {
  list-style-type: none;
  padding: 0;
  font-size: 2rem;
}
@media screen and (max-width: 998px) {
  .contacts__list {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 425px) {
  .contacts__list {
    font-size: 1.2rem;
  }
}
.contacts__img {
  width: 2rem;
  height: 2rem;
}
.contacts__item {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.contacts__link {
  text-decoration: none;
  color: rgb(35, 35, 35);
  position: relative;
  margin-left: 2rem;
}
.contacts__link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: rgb(0, 35, 230);
  transform-origin: bottom left;
  transition: transform 0.5s ease-out;
}
.contacts__link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.footer {
  min-height: 25rem;
  position: relative;
}
.footer__wrapper {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  display: flex;
}
@media screen and (max-width: 600px) {
  .footer__wrapper {
    flex-direction: column;
  }
}
.footer__item {
  font-size: 3rem;
  padding: 8rem;
}
@media screen and (max-width: 998px) {
  .footer__item {
    padding: 2rem;
  }
}
.footer__img {
  width: 10rem;
}
.footer__img_gh {
  width: 5rem;
}

@media screen and (max-width: 425px) {
  code,
  kbd,
  samp {
    font-family: monospace, monospace;
    font-size: 0.7rem;
  }
}/*# sourceMappingURL=style.css.map */